@page
@model PRN221_PawFundSystem_Group5.Pages.VolunteerTaskPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].AssignedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerTask[0].AssignedToNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VolunteerTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToNavigation.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
